@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font: Roboto, sans-serif;
    /*-webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;*/
  }
  .control_svg {
    display: inline-block;
    vertical-align: top;
    color: #fff;
  }
  .control__path {
    fill: currentColor;
  }

  /* .swiper-pagination  {
    background-color: red !important;
    width: 30px;
    height: 30px;
  }*/
  /*.swiper-pagination-bullet-active .path {
    display: inline-block !important;
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
    animation: dash linear 120s;
    animation-iteration-count: unset;
  }
  .path {
    display: none;
  }*/

  @keyframes dash {
    from {
      stroke-dashoffset: 1000;
    }

    to {
      stroke-dashoffset: 0;
    }
  }
}

@layer components {
  .bigScreensWidth {
    @apply sm:w-[90%] md:max-w-3xl xl:max-w-[57rem];
  }
  .myContainer {
    @apply mx-auto px-6;
  }
}
